
#showcase {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  transform: translate3d(0,0,0);
  pointer-events: none;
  transition: opacity .666s;
  background: rgba(33,33,33,.8);
  &.show {
    opacity: 1;
    pointer-events: auto;
    & .container {
      transform: translateY(0);
    }
    & ol {
      animation: slideInfo 1s .666s backwards;
    }
  }
  & .container {
    transform: translateY(12.5vh);
    width: 100vw;
    transition: transform .666s;
    cursor: url('close.svg') 32 32, auto;
    perspective: 100vw;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    height: 100vh;
  }
  & .album {
    margin: 17vh auto;
    width: 66vh;
    backface-visibility: hidden;
    background-size: cover;
    background-color: rgba(33,33,33,1);
    background-position: center center;
    height: 66vh;
    cursor: url('play.svg') 32 32, auto;
    perspective: 500px;
    animation: screenMoveOne 2s, boxShine 2.5s 2s infinite alternate, screenMoveTwo 5s infinite alternate ease-in-out;
  }
  & ol {
    position: fixed;
    bottom: 0;
    overflow: auto;
    list-style: none;
    width: 100vw;
    height: 50vh;
    margin: 0;
    padding: 0 0;
    background: rgba(33,33,33,.75);
    &.fade {
      animation: slideInfoOut 1s forwards;
      pointer-events: none
    }
    & li {
      display: block;
      margin: 0;
      padding: .5em 1em;
      cursor: pointer;
      transition: background .25s;
      &:hover {
        background: rgba(99, 76, 210, 0.8);
      }
      &:last-of-type {
        margin-bottom: 100px;
      }
    }
  }
}

@keyframes slideInfo {
  0% {opacity: 0; transform: translateY(12.5vh)}
  100% {opacity: 1; transform: translateY(0);}
}

@keyframes slideInfoOut {
  0% {opacity: 1; transform: translateY(0);}
  100% {opacity: 0; transform: translateY(12.5vh)}

}

@keyframes screenMoveOne {
  0%   {opacity: 0; top: 100%; transform: rotateY(0deg);}
  100% {opacity: 1; top: 50%;  transform: rotateY(-20deg);}
}

@keyframes screenMoveTwo {
  0%   {transform: rotateY(-20deg);}
  100% {transform: rotateY(20deg);}
}

@keyframes boxShine {
  0%   {box-shadow: 0 0 50px rgba(0, 0, 0, .666);}
  100% {box-shadow: 0 0 200px rgba(0, 0, 0, .666);}
}
