@import '../admin';
@import '../feature';
@import '../library';
@import '../loading';
@import '../playbar';
@import '../showcase';


@font-face {
  font-family: 'averia-serif';
  src: url(averia-serif.woff2) format('woff2'), url(averia-serif.woff) format('woff');
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;;
  background: #212121;
  font-size: 16px;
  font-family: 'averia-serif';
  -webkit-font-smoothing: antialiased;
}
