<!doctype html>
<html lang="en">
  <head>
    <title>DESTROYER</title>
    <style>
      @font-face {
        font-family: 'averia-serif';
        src: url('./averia-serif.woff2') format('woff2'), url('./averia-serif.woff') format('woff');
      }
    </style>
    <script src='../../library/aurora/aurora.js'></script>
    <script src='../../library/aurora/flac.js'></script>
    <script src='../../library/aurora/mp3.js'></script>
    <script src='../../library/aurora/aac.js'></script>
    <script src='../../library/aurora/alac.js'></script>
    <script defer src='../../bundle/destroyer.js'></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
