figure {
  width: 100vw;
  height: auto;
  user-select: none;
  padding: 1em 0;
  margin: 0;
  position: fixed;
  display: flex;
  transition: opacity .666s;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-image: linear-gradient( to bottom, rgba(33, 33, 33, .9), rgba(33, 33, 33, 0));
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  z-index:10;
  flex-wrap: wrap;
  &.hide {
    opacity: 0;
  }
  & h1 {
    font-size: 3em;
    margin: 0 0 0px;;
    line-height: 1em;
    font-weight: 200;
    padding: 0;
    flex: 1 1 100vw;
  }
  & h2 {
    font-size: 2.5em;
    margin: 0;
    line-height: 1em;
    font-weight: 200;
    padding: 0;
    flex: 1 1 100vw;
  }
  & h3,
  & h4 {
    font-size: 2em;
    margin: 0 0 -0.125em;
    line-height: 1.25em;
    font-weight: 200;
    padding: 0;
    flex: 1 1 100vw;
  }
}

ul {
  background: #212121;
  color: white;
  display: flex;
  flex-wrap: wrap;
  box-sizing:border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 12.5vh 0 33vh;
  list-style: none;
  overflow: scroll;
  transform: translate3d(0,0,0);
  & li {
    flex: 1 1 300px;
    padding: 1em 2em;
    line-height: 1.5em;
    transition: all .25s;
    &:hover {
      color: rgba(99, 76, 210, 1);
      cursor: pointer;
      transform: scale(1.0625);
    }
    & span {
      display: block;
    }
    & div {
      display: block;
      height: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #2b2b2b;
      padding-top: 100%;
      transition: all .25s;
      border: 2px solid #181818;
      margin-bottom: .5em;
      &.over {
        border-color: rgba(99, 76, 210, 1);
        background-color: rgba(99, 76, 210, .8);
      }
    }
  }
}
